<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.zooz.phonegap.plugin"
        version="0.0.1">
    <name>Zooz</name>
    <description>Zooz Payment Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,zooz,payment</keywords>

    <js-module src="www/zooz_phonegap.js" name="zooz">
        <clobbers target="zooz" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ZooZCheckoutPlugin" >
                <param name="android-package" value="com.zooz.phonegap.plugin.ZooZCheckoutPlugin"/>
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.zooz.android.lib.CheckoutActivity" android:theme="@android:style/Theme.Translucent" android:configChanges="keyboardHidden|orientation|screenSize"/>
            <activity android:name="com.paypal.android.MEP.PayPalActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:configChanges="keyboardHidden|orientation|screenSize"/>
        </config-file>

        <source-file src="src/android/ZooZCheckoutPlugin.java" target-dir="src/com/zooz/phonegap/plugin" />
        <source-file src="src/android/zooz_iap_1.5.2.jar" target-dir="libs/" />
        
    </platform>
    
    <!-- ios -->
   
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ZooZCheckoutPlugin">
                <param name="ios-package" value="ZooZCheckoutPlugin"/>
            </feature>
        </config-file>

        <header-file src="src/ios/ZooZCheckoutPlugin.h" />
        <source-file src="src/ios/ZooZCheckoutPlugin.m" />
        
        <framework src="src/ios/ZooZSDK.embeddedframework/ZooZSDK.framework" custom="true" />
        
        <framework src="libxml2.dylib" />
        <framework src="libz.dylib" />
        <framework src="Security.framework" weak="true" />
        <framework src="QuartzCore.framework" weak="true" />
        
    </platform>
   
</plugin>
